<main class="container">
  <section>
    <button type="button" class="btn mt-3 mb-3 fs-2 btn-warning position-relative">
      Comments <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger">5</span>
    </button>

    <div class="mb-3">
      <label for="commentFormInput" class="form-label">Your nickname</label>
      <input type="text" class="form-control" id="commentFormInput" placeholder="Your name">
    </div>
    <div class="mb-3">
      <label for="exampleCommentText" class="form-label">Write your comment ...</label>
      <textarea class="form-control" id="exampleCommentText" rows="5"></textarea>
    </div>
  </section>

</main>
